
pdfreader/.DS_Store

*.sublime-project

*.sublime-workspace

psdtools/.DS_Store

psdtools/images/.DS_Store

*.pyc

/.DS_Store
/install/.DS_Store
/metadata.json
/install/install02500809/
/images/
/psd_rb/.idea/
/psd_rb/Gemfile.lock
/psd_rb/.DS_Store
/psd_rb/psds/
/psd_rb/output/
/psd_rb/output.txt